.series {
    cursor: pointer;
}

.axis path,
.axis line {
    fill: none;
    stroke: #121401;
    stroke-width: 2px;
    shape-rendering: crispEdges;
}

.map {
    width: 100%;
    min-height: 400px;
}

/*the 'show all btn' for going from showing one postcode to all
tyring to figure this one out really as btn not so great UI...
*/
.btn.chart-all-state{
    display: none;
}

.btn.chart-selected-state{
    display: block;
}